{{#if template}}
  {{yield}}
{{else}}
  <label {{bind-attr for=fieldGuid}}>
    {{label}}
  </label>

  {{input type=type value=value id=fieldGuid class="ui-form-control"}}
{{/if}}

<b>Hi: {{errors.length}}<b>
<b>Val: {{value}}</b>

{{#if isInvalid}}
  <em class="ui-form-error">{{errors.firstObject.message}}</em>
{{/if}}
