<header class="account-header">
  <h1>{{unbound account.label}}</h1>
  <h2>
    <span class="plan">
      <span class="label">Plan:</span>
      <span class="value">{{unbound account.plan}}</span>
    </span>
    <span class="currency">
      <span class="label">Currency:</span>
      <span class="value">{{unbound account.currency}}</span>
    </span>
    <span class="balance">
      <span class="label">Balance:</span>
      <span class="value">{{fmt-dollars cents=account.balanceInCents}}</span>
    </span>
    {{#if account.interestRate}}
      <span class="interest-rate">
        <span class="label">Rate:</span>
        <span>{{unbound account.interestRate}}%</span>
      </span>
    {{/if}}
  </h2>
</header>

<table class="content-table account-transactions">
  <thead>
    <tr>
      <th class="transaction-info">
        Transaction
      </th>
      <th class="transaction-date">
        Date
      </th>
      <th class="transaction-withdrawl">
        Withdrawl
      </th>
      <th class="transaction-deposit">
        Deposit
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each transaction in this}}
      <tr>
        <td class="transaction-info">
          <div class="label">
            {{unbound transaction.summary}}
          </div>
          <div class="details">
            <span class="detail">{{unbound transaction.detail}}</span>
          </div>
        </td>
        <td class="transaction-date">
          {{fmt-moment moment=transaction.createdAt fmt="MMM Do, YYYY"}}
        </td>
        <td class="transaction-withdrawl">
          {{#if transaction.isWithdrawl}}
            {{fmt-dollars cents=transaction.amountInCents style=false sign="-"}}
          {{/if}}
        </td>
        <td class="transaction-deposit">
          {{#if transaction.isDeposit}}
            {{fmt-dollars cents=transaction.amountInCents style=false}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
