<header>
  <h1>Confirm Your Transfer</h1>
</header>
{{#ui-form model=this action="submit"}}
  <fieldset>
    <div class="ui-form-field">
      <label>From Account</label>
      <span class="ui-form-control-container">
        <span class="ui-form-control">
          {{account.label}} ({{account.number}})
        </span>
      </span>
    </div>

    <div class="ui-form-field">
      <label>To Payee</label>
      <span class="ui-form-control-container">
        <span class="ui-form-control">
          {{payee.label}} ({{payee.route}})
        </span>
      </span>
    </div>

    <div class="ui-form-field">
      <label>Amount</label>
      <span class="ui-form-control-container">
        <span class="ui-form-control">
          {{fmt-dollars cents=amountInCents}}
        </span>
      </span>
    </div>

    {{ui-form-field for="verifyAmountInCents" type="dollars" label="Confirm Amount"}}

    {{#if payee.isIET}}
      {{ui-form-field for="ietQuestion" type="text" label="Security Question"}}
      {{ui-form-field for="ietAnswer" type="text" label="Security Answer"}}
      {{ui-form-field for="ietMessage" type="textarea" label="Message" optional=true}}
    {{/if}}
  </fieldset>

  <fieldset class="actions">
    <button type="submit">Confirm &amp; Transfer Funds</button>
    <span>or</span>
    <button class="cancel" {{action "cancel"}}>Cancel</button>
  </fieldset>
{{/ui-form}}
