<header>
  <h1>Transfers</h1>
  <nav>
    <ul>
      <li>
        {{#link-to "transfers.new" class="new-transfer" }}
          Pay Bills &amp; Transfer Funds
        {{/link-to}}
      </li>
    </ul>
  </nav>
</header>

<table class="content-table transfers">
  <thead>
    <tr>
      <th class="transfer-to">
        To
      </th>
      <th class="transfer-account">
        From
      </th>
      <th class="transfer-date">
        Date
      </th>
      <th class="transfer-state">
        Status
      </th>
      <th class="transfer-amount">
        Amount
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each transfer in this}}
      <tr>
        <td class="transfer-to">
          {{transfer.payee.label}}
        </td>
        <td class="transfer-account">
          {{transfer.account.label}}
        </td>
        <td class="transfer-date">
          {{fmt-moment moment=transfer.createdAt fmt="MMM Do, YYYY"}}
        </td>
        <td class="transfer-state">
          <span {{bind-attr class=":state transfer.state"}}>
            {{unbound transfer.stateName}}
          </span>
        </td>
        <td class="transfer-amount">
          {{fmt-dollars cents=transfer.amountInCents style=false}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
