<header>
  <h1>Transfer Funds</h1>
</header>

{{#ui-form model=model action="submit"}}
  {{ui-form-field for="payee"
    type="select"
    items=payees
    labelPath="detail"
    valuePath="id"
    selected=payee}}

  {{ui-form-field for="account"
    type="select"
    items=accounts
    labelPath="detail"
    valuePath="id"
    selected=account}}

  {{ui-form-field for="amountInCents"
    type="dollars"
    label="Amount"}}

  Hi: {{payee.type}}
  OK: {{payee.isIET}}

  {{#if payee.isIET}}
    {{ui-form-field for="message" type="textarea"}}
  {{/if}}

  <fieldset>
    <button type="submit">Transfer Funds</button>
    or
    {{#link-to "transfers"}}Cancel{{/link-to}}
  </fieldset>
{{/ui-form}}
