<header>
  <h1>Banking Accounts</h1>
</header>

<table class="content-table accounts">
  <thead>
    <tr>
      <th class="account-info">
        Account
      </th>
      <th class="account-updated">
        Last Active
      </th>
      <th class="account-balance">
        Balance
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each account in sorted}}
      {{#link-to "account.transactions" account tagName="tr" class="link"}}
        <td class="account-info">
          <div class="label">
            {{unbound account.label}}
          </div>
          <div class="details">
            <span class="number">
              {{unbound account.number}}
            </span>
            <span class="type">
              {{unbound account.description}}
            </span>
            <span class="currency">
              {{unbound account.currency}}
            </span>
          </div>
        </td>
        <td class="account-updated">
          {{rel-time time=account.updatedAt}}
        </td>
        <td class="account-balance">
          {{fmt-dollars cents=account.balanceInCents}}
        </td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
